<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ismobilejs/0.4.1/isMobile.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Barcode Generator</title>
  </head>
  <body>
    <section class="container">

      <hgroup><h1>Generate a barcode</h1></hgroup>

      <form method="GET" action="/barcode" id="generate">
        <div class="form-group row">
          <label for="code" class="col-sm-2 control-label col-form-label">Contents</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" id="code" name="code" placeholder="Barcode contents">
          </div>
          <div class="col-sm-2">
            <select class="form-control" id="format" name="format">
              {% for gn, barcode_group in fancy_barcode_types.items() -%}
                <optgroup label="{{ gn }}">
                {% for t, (tn, tf) in barcode_group.items() -%}
                  <option {% if t == default_barcode_type %}selected="selected" {% endif -%} value="{{ t }}">{{ tn }}</option>
                {% endfor -%}
                </optgroup>
              {% endfor -%}
            </select>
          </div>
          <div class="col-sm-2">
            <button type="submit" class="btn btn-primary">Render</button>
          </div>
          <div class="col-sm-2">
            <button type="button" class="btn btn-info" id="wiki">Wiki</button>
          </div>
        </div>
        <div class="form-group row" id="results-row">
          <label for="results" class="col-sm-2 control-label col-form-label">Barcode</label>
          <div class="col-sm-6" id="results"></div>
          <div class="col-sm-4 help-block" id="results-help"></div>
        </div>
      </form>

      <script>
        loader = "{{ url_for('static', filename='loader.gif') }}";
        wiki = "{{ url_for('wiki') }}";

        $( () => $("#code").focus() );

        $("#wiki").click(e => window.open(wiki + '/' + $("#format").val()));

        $("#generate").submit(function(e) {
          url = new URL(this.action);
          f = $("#format").val();
          fn = $("#format option:selected").text();
          c = $("#code").val();
          url.search = $(this).serialize();
          $("#results").html(`<img title="Loading…" src="${loader}"/>`);
          xhr = $.ajax({
            url: url,
            success: () => {
              $("#results-row").removeClass("has-error").addClass("has-success");
              $("#results-help").empty();
              $("#results").find("img").attr({title: c, src: url});
            },
            error: () => {
              $("#results-row").removeClass("has-success").addClass("has-error");
              $("#results-help").html("See wiki for details on " + fn);
              $("#results").html(`<tt>${xhr.responseJSON.msg}</tt>`);
            }
          });
          e.preventDefault();
        });
      </script>

    </section>
  </body>
</html>
